.nameTitle {
    font-weight: bold;
    /*margin-bottom: 20px;*/
}
.wall {
    margin: 10px;
}
.newPost {
    display: block;
}
.newpost {
    letter-spacing: 0.6em;
}
textarea {
    width: 195px;
    border-radius: 5px;
    margin-top: -15px;
}
button {
    height: 30px;
    width: 100px;
    transition: .6s;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
    background: lightseagreen;

}