.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogItems {
    padding: 10px;
}
.dialog {
    width: 110px;
    margin-left: 10px;
    transition: 0.5s;
    margin-bottom: 10px;
}
.dialog:hover {
    background: rgba(110, 190, 280, .9);
    border-radius: 5px;
}
.dialog a {
    margin-left: 10px;
    color: black;
    font-weight: 500;
}
.messages {
    padding: 10px;
}
.message {

}
.activeLink {
    color: gold !important;
}
